{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["babel", "react", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "experimentalObjectRestSpread": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "no-unused-vars": "warn",
    "no-console": "warn",

    "react/require-default-props": "warn",
    "react/prop-types": "warn",
    "react/no-unescaped-entities": "warn",

    "prettier/prettier": "error"
  }
}